<HTML>
<HEAD>


</HEAD>

<BODY>

<TABLE align = "center">
	<TR>
		<TD align="center"> <h1> Welcome to my Webpage! </h1></TD>
	</TR>
	<TR>
		<TD><%= image_tag 'tanuki anime.png' %></TD>
	</TR>
</TABLE>


<TABLE align="center">
	<TR>
		<TD width=50%>hey, this is my paragraph of information.  I wouuld like this appear on the left side of the table<BR/>
		What do you think about that? <BR/>
		Anyway.. this is all well and good, but I need to get back to my coding now..
	   </TD>

    	<TD width=50%> 
    		here is more text. that should be read by the users.<br/>
    	So, yeah, here we are just chatting away and wondering if anyone will ever read this.  I hope that these words find you well and you and your family are doing great.  Thanks.</TD>



	</TR>



</TABLE>


</BODY>

</HTML>
<%= link_to 'About', about_path %>